/* body {
    margin: 0;
  }
  
  .carrusel {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .carruselItems {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
  }
  
  .carruselItem {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    outline: 2px solid black;
    cursor: pointer;
  }
  
  .carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carrusel-item:hover {
    transform: scale(1.2);
  }

   */

   /* .skill-section {
    margin: 0; 
    padding: 0;
} */
   .carrusel {

    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


.carruselItems {
    display: flex;
    overflow-x: auto; /* Cambiar a auto para permitir el desplazamiento */
    overflow-y: hidden;
    padding-bottom: 0;
    margin-bottom: 0;
    scroll-snap-type: x mandatory; /* Habilitar el ajuste de desplazamiento */
}

.carruselItem {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
   
    cursor: pointer;
    scroll-snap-align: start; /* Alinear los elementos al inicio */
    transition: transform 0.01s ease; /* Transición suave para el escalado */
}

.carruselItem img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    margin-bottom: 0;
}

.carruselItem:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el cursor */
}

.carruselItems::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y otros navegadores webkit */
}